@import "../_imports";

$searchType: "pragmatica-web", Helvetica, Arial;

/*	Don't modify these	*/
$mobileHeaderDistanceFromTop: 0;
$mobileHeaderHeight: 4rem;			/*	Use REMs	*/
$mobileHeaderButtonWidth: 3.5rem;
$iconFontSize: 1.8rem;
$searchFieldBorder--activated: 8px solid $mobileHeaderBg;

/*	MobileHeader


	============
	
	Contains the styling for the search, navigation dropdown, and Vassar link at smaller screen sizes
	*/


/*	Masthead
	-------- */

.u-Masthead__vassar {
	height: $mobileHeaderHeight;
	@include v-pixel-fallback("font-size", 1rem);
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: $mobileHeaderDistanceFromTop;
	left: 0;
	@include v-pixel-fallback("padding-left", 1rem);
	width: 100%;
	display: table;
	background: $mobileHeaderBg;
}
.u-Masthead__vassar--link {
	display: table-cell;
	vertical-align: middle;	
}


/*	Put this in a masthead file */

@media all and (min-width: $small) {
	.u-Masthead__vassar {
		position: static;
		display: auto;
		height: auto;
		background: none;
		width: auto;
		padding: inherit;
	}
		.u-Masthead__vassar--link {
			display: inline;
		}
	.u-Masthead__vassar--link.icon-back:before {
		content: "";
		margin: 0;
	}
}


/*	Mobile search
	------------- */

/*	Base styles
	........... */


.u-Container {
	padding-top: $mobileHeaderHeight;
}
.u-Search__form:focus {
	border: 4px solid #f00 !important;
}
label[for="u-Search"].ac-hiddenVisually {
	clip: auto !important;
	height: auto !important;
	width: auto !important;
	position: absolute !important;
	top: 0;
	bottom: 0;
	@include v-pixel-fallback("left", -7rem);
	z-index: 9;
	line-height: $mobileHeaderHeight;
	text-shadow: 8rem 0 0 #aaa;
	overflow: visible !important;
	font-family: $searchType;	
}

#search {
	position: absolute;
	top: 0;
	padding: 0;
	background: #eee;
}
.u-Search__button {
	position: absolute;
	@include v-pixel-fallback("top", $mobileHeaderDistanceFromTop);
	@include v-pixel-fallback("right", $mobileHeaderButtonWidth);
	background: $searchAndMenuBtnBackground;
	color: $searchAndMenuBtnColor;
	width: $mobileHeaderButtonWidth;
	text-align: center;
	border-right: 1px solid $searchBtnAndMenuBtnDividerColor;
	@include v-pixel-fallback("font-size", $iconFontSize);
	z-index: 2;
}
.u-Search__button,
.u-Search__cancel {
	height: $mobileHeaderHeight;
	line-height: $mobileHeaderHeight;
}
.u-Search__cancel {
	@include v-pixel-fallback("font-size", 1rem);
}
.u-Search__submit {
	left: auto;
	top: 0;
	bottom: 0;
	height: auto;
	position: relative;
}
.u-Search__field {
	height: auto;
	font-family: $searchType;
	width: 100%;
	@include v-pixel-fallback("font-size", 1rem);
	@include v-pixel-fallback("padding", 2%);
}
.u-Search__field:focus {
	z-index: 10 !important;
}
.u-Search__field,
.u-Search__submit,
.u-Search__cancel {
	position: absolute;
	top: 0;
	bottom: 0;
}
.u-Search__submit,
.u-Search__cancel {
	z-index: 11;
}
.u-Search__submit,
.u-Search__field,
input[type="search"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.u-Search__form:before {
	content: "";
	position: absolute;
	height: $mobileHeaderHeight;
	border-left: $searchFieldBorder--activated;
	top: 0;
	bottom: 0;
	right: $mobileHeaderButtonWidth*2;
	z-index: 9;
}
.u-Search__field:focus,
.u-Search__submit:focus {
	z-index: 0;
	position: inherit;
}
.u-Search__field,
input[type="search"],
#search:target .u-Search__field {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}



/*	When the search form is displayed
	................................. */

#search:target {
	padding: 0;
	width: 100%;
	background: $mobileSearchBackground;
	z-index: 9;
	@include v-pixel-fallback("max-height", $mobileHeaderHeight);
	@include v-pixel-fallback("height", $mobileHeaderHeight);
}
#search:target .u-Search__submit,
#search:target .u-Search__cancel {
	color: $searchBtnColor--activated;
	background: $searchAndMenuBtnBackground--activated;
	position: absolute;
	width: $mobileHeaderButtonWidth;
	text-align: center;
	padding: 0;
	@include v-pixel-fallback("line-height", $mobileHeaderHeight);
}
#search:target .u-Search__field {
	position: absolute;
	left: 0;
	border: $searchFieldBorder--activated;
}
#search:target .u-Search__cancel {
	@include v-pixel-fallback("right", 0);
}
#search:target .u-Search__submit {
	@include v-pixel-fallback("right", $mobileHeaderButtonWidth);
	@include v-pixel-fallback("font-size", $iconFontSize);
}
#search:target .u-Search__submit:before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	width: 2px;
	border-left: $searchFieldBorder--activated;
}



/*	Navigation
	---------- */

.ac-NavAnchor--menu {
	position: absolute;
	right: 0;
	@include v-pixel-fallback("top", $mobileHeaderDistanceFromTop);
	height: $mobileHeaderHeight;
	width: $mobileHeaderButtonWidth;
	line-height: $mobileHeaderHeight;
/*	font-size: $iconFontSize; */
	z-index: 9;
	background: $searchAndMenuBtnBackground;
	text-align: center;
	color: $searchAndMenuBtnColor;

	font-family: $searchType !important;
	@include v-pixel-fallback("font-size", 1rem);
	font-weight: bold;
}
.u-NavSite__item {
	font-family: $sans-serif;
	line-height: 110%;
	font-weight: 100;
	@include v-pixel-fallback("font-size", 1.4rem);
}
.u-NavSite__itemContainer .u-NavSite__itemContainer .u-NavSite__item {
	@include v-pixel-fallback("font-size", 1.2rem);
}
.u-NavSite__itemContainer {
	margin: 0;
}
.u-NavSite__itemContainer .u-NavSite__itemContainer {
	padding-left: 0;
}
/*.u-NavSite__item {
	@include v-pixel-fallback("padding", .25rem .75rem);
}*/

/* .u-NavSite__level {
	margin-left: 1em;
} */
.ac-NavAnchor.ac-NavAnchor--top {
	padding: 1em;
	display: block;
	text-align: center;
}



#navigation:target {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: $mobileHeaderHeight;
	height: auto;
	background: transparent;
}
#navigation:target .u-NavSite__level--1 {
	background: $mobileMenuBackground;
	margin: 0;
	padding: 6% 4%;
	z-index: 9999 !important;
}
#navigation:target .u-NavSite__level--1 .u-NavSite__item {
	color: $mobileMenuLinkColor;
}

#navigation:target .ac-NavAnchor--top {
	position: absolute;
	right: 0;
	top: 0;
	height: $mobileHeaderHeight;
	width: $mobileHeaderButtonWidth;
	line-height: $mobileHeaderHeight;
	font-size: $iconFontSize;
	z-index: 9999 !important;
	background: $mobileMenuBackground;
	text-align: center;
	color: $searchAndMenuBtnColor;
	font-size: 1px;
/*	text-indent: -99em; */
}


#navigation:target .ac-NavAnchor--top:before {
	content: "Menu";
	content: "Close";
	font-size: 1rem !important;
/*	font-family: $searchType !important; */
	font-weight: bold;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: $mobileHeaderHeight;	
	font-size: $iconFontSize;
	color: $MenuBtnColor--activated;
}


/*#navigation:target:before {
	content: "Menu";
	position: absolute;
	height: $mobileHeaderHeight;
	@include v-pixel-fallback("font-size", 1rem);
	font-weight: bold;
	top: -$mobileHeaderHeight;
	left: 0;
	@include v-pixel-fallback("padding-left", 1rem);
	border: 1px solid #f00;
	line-height: $mobileHeaderHeight;
}*/



/*	Undo everything so it doesn't interfere with larger-screen search styling */

@media all and (min-width: $small) {

	/*	Overrides stuff in search-responsive.
		search-responsive is centrally located. Maybe we can get rid of it
		in the future, but right now other sites rely on it. */
		
	.u-Container {
		padding-top: 0;
	}
	
	
	/*	Search	*/
	
	#search {
		max-height: none;
		width: auto;
		left: auto;
		background-color: transparent;
	}
	.u-Search__form:before,
	.u-Search__cancel,
	.u-Search__button {
		display: none;
	}
	
	label[for="u-Search"].ac-hiddenVisually {
		border: 0 !important;
		clip: rect(1px 1px 1px 1px) !important;
		clip: rect(1px, 1px, 1px, 1px) !important;
		height: 1px !important;
		padding: 0 !important;
		overflow: hidden;
		position: absolute !important;
		width: 1px !important;		
	}
	/*	Nav	*/
	.ac-NavAnchor--menu {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
	}

}




























