@import "../_imports";

/*	NAVIGATION
	------------------------------
*/

.u-NavSite__level .u-NavSite__level {
	padding-left: .5em;
}
.u-NavSite__level--1 > .u-NavSite__itemContainer {
	margin: .25rem 0;
}
.u-NavSite__item--facebook {
	margin-top: 1em;
}
@media all and (min-width: $small) {
	.ac-NavAnchor.ac-NavAnchor--top,
	.ac-NavAnchor--menu {
		right: 4em;
		position: absolute;
		width: 1px;
		height: 1px;
		visibility: hidden;
	}
	.u-NavSite__item {
		padding: .125em 0;
	}
}
@media all and (min-width: $medium) {
	.u-NavSite__level.u-NavSite__level--1 {
		margin: 0;
	}
}











































