@import "../_imports";

.u-NewsList__heading.u-NewsList__heading--announcements {
	margin-top: 0;
}
.u-ArticleNavGroup {
	padding: 5% 0;
	width: 100%;
	clear: both;
}

.u-ArticleNavGroup__navButton {
	font-weight: $fontWeightBold;
	font-size: .85em;
	text-align: center;
	float: left;
	display: block;
	padding: .3em .5em;
	margin: 0 2% 0 0;
	width:23%;
	border: none;
  @include background-colors(
		$buttonBgColor, 
		$buttonBgColorHover, 
		$buttonBgColorActive, 
		$buttonBgColorVisited, 
		$buttonBgColorFocus);
  @include link-colors(
		$buttonLinkColor, 
		$buttonLinkColorHover, 
		$buttonLinkColorActive, 
		$buttonLinkColorVisited, 
		$buttonLinkColorFocus);
}

.u-ArticleNavGroup__navButton--more {
	width: 75%;
}

.u-ArticleNavGroup__navButton--next:after {
	content: "\2192";
	margin-left: .3em
}

.u-ArticleNavGroup__navButton--prev:before {
	content: "\2190";
	margin-right: .3em;
}

.u-ArticleNavGroup__navButton--archive {
	width:23%;
	margin-right: 0;
	float: right;
  @include background-colors(
		$uniqueButtonBgColor, 
		$uniqueButtonBgColorHover, 
		$uniqueButtonBgColorActive, 
		$uniqueButtonBgColorVisited, 
		$uniqueButtonBgColorFocus);
  @include link-colors(
		$uniqueButtonLinkColor, 
		$uniqueButtonLinkColorHover, 
		$uniqueButtonLinkColorActive, 
		$uniqueButtonLinkColorVisited, 
		$uniqueButtonLinkColorFocus);
}

.u-lAside .u-NewsList__list {
    list-style:none;
    padding-left:0;
}

.u-ArticleListItem__title {
	margin-bottom: .5em;
}

.u-ArticleListItem {
	margin-bottom: 7%;
}
