@import "../_imports";

.gsc-results.gsc-webResult > .gsc-webResult.gsc-result,
.gsc-expansionArea .gsc-webResult.gsc-result {
	margin-bottom: 2em !important;
}
.gsc-webResult.gsc-result .gs-title {
	font-size: 1.4rem !important;
	line-height: 110%;
}
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited b,
.gsc-control-cse .gs-result .gs-title b {
	font-weight: bold !important;
}
.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long {
	font-size: .9rem !important;
	color: $gsUrl !important;
}
.gs-visibleUrl-long:focus {
	color: $linkColor!important;
}
.gs-visibleUrl-long:hover {
	color: $linkColor!important;
}
.gs-visibleUrl-long:active {
	color: $linkColor!important;
}
.gsc-above-wrapper-area {
	margin-bottom: 2rem;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
	font-size: 1rem;
	padding: 1.25rem 1rem;
	width: 12.5%;
	max-width: 3rem;
	display: inline-block !important;
	line-height: 0 !important;
	border: 1px solid $gsPaginationNumberBorderColor;
	position: relative !important;
	margin-left: -1px !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	z-index: 1 !important;
	background: $gsPaginationCurrentLinkBackground !important;
	border-color: $gsPaginationCurrentLinkBorder !important;
}
.gsc-cursor-page:hover {
	z-index: 2 !important;
	background: $gsPaginationHoverLinkBackground !important;
	border-color: $gsPaginationHoverLinkBorder !important;
}
